.form-container {
  padding: 20px;
  border: none; // لو فيه border في مكان تاني

  form {
    border: none;
    box-shadow: none;
    background: transparent;
  }

  mat-form-field {
    width: 100%;

    ::ng-deep .mat-form-field-outline {
      color: transparent;
      border-color: transparent;
    }
    ::ng-deep
      .mat-form-field-appearance-outline.mat-form-field-invalid
      .mat-form-field-outline {
      color: inherit;
      stroke: #c4c4c4; // أو أي لون رمادي يعجبك
      border-color: #c4c4c4;
    }
  }
  input.ng-invalid:not(.ng-touched) {
    border-color: inherit !important;
  }
}
